@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* header section css */
header {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
}
.container {
  height: 600px;
  background: url("../img/Banner\ Image.png"),
    linear-gradient(180deg, rgb(106, 92, 92), rgb(236, 236, 202));
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 10px;
}

.header-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.small-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.big-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  max-width: 632px;
}

/* 65% off section */
.off-section {
  width: 50%;
  max-width: 1300px;
  margin: 120px auto;
}
.off-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.off-percentage {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.holiday {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}
.all-category {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}
.off-img {
  margin-top: 100px;
}
.off-img img {
  width: 800px;
  height: 500px;
}

/* midnight party */

.midnight-container {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
}
.midnight-section {
  height: 600px;
  background: url("../img/Vectorrr.png"),
    linear-gradient(90deg, rgb(27, 25, 25), rgb(238, 238, 191));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-blend-mode: multiply;
}
.midnight-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  height: 600px;
}

.midnight-text h1 {
  color: #fff;
  width: 600px;
  color: #fff;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  padding: 0 126px;
}
.midnight-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 126px;
  width: 600px;
}

.midnight-text button {
  color: #fff;
  margin: 10px 126px;
  padding: 10px 20px;
  background-color: #070211;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.midnight-img {
  margin-right: 70px;
}

/* place section */
.place-container {
  width: 90%;
  height: 500px;
  max-width: 1300px;
  margin: 20px auto;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(250, 0, 0, 0) 100%
  );
  border-radius: 10px;
}
.place-description {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: center;
}
.place-description p span {
  color: #f00;
}
.place-description p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.place-description button {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}
.place-description * {
  padding-bottom: 10px;
}
/* comming section */

.comming-section {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
  height: 600px;
}

.comming-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.comming-text-left h2 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.comming-text-left h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 22px;
}
.comming-text-left p {
  max-width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

/* image part */
.comming-img-container {
  width: 380px;
  height: 380px;
}
.comming-red-border {
  border-radius: 50%;
  border: 10px solid red;
}
.comming-white-outline {
  border-radius: 50%;
  outline: 15px solid rgb(255, 255, 255);
  outline-offset: -10px;
}
.comming-text-right h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.comming-text-right p {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* holiday section */
.holiday-section {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
  height: 1100px;
}
.holiday-description * {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}
.holiday-description h3 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-description h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holiday-description h1 span {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holiday-description p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding: 0px 190px;
}

/* holiday image css */

.holiday-image {
  position: relative;
  margin: 100px 0;
}
.holiday-image div .img1 {
  position: absolute;
  right: 0;
}

.holiday-image div .img2 {
  position: absolute;
  right: 270px;
  top: 70px;
}

.holiday-image div .img3 {
  position: absolute;
  top: 100px;
  left: 90px;
  z-index: 10;
  width: 50%;
}
.holiday-image div .img4 {
  position: absolute;
  top: 430px;
  width: 100%;
}

/* portfolio section */

.portfolio-section {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
}
.portfolio-description h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-description h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 20px 0;
}
.portfolio-description p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.portfolio-image {
  margin-top: 50px;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  transition: 2s;
}
.portfolio-image img:hover {
  transform: scale(1.2);
  z-index: 2;
}

/* subscribe section */

.subscribe-section {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
}
.subscribe-description h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.subscribe-description p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.subscribe-description * {
  margin-bottom: 20px;
}

.subscribe-description form {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  width: 540px;
}
.subscribe-description form input {
  flex-grow: 1;
  border: none;
  border-radius: 50px 0 0 50px;
  outline: none;
  padding: 10px 0;
}
.input-email {
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
}

.subscribe-description button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
}
/* footer section */
.footer-section {
  background-color: #070211;
  height: 600px;
  padding: 100px 0;
}
.footer-container {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
}
.footer-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
}

.img-call {
  margin-right: 10px;
}

.social-icon {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 150px 0px;
  padding: 20px;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.footer-bottom button {
  background-color: #070211;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
