@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* header section css */
header {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
}
.container {
  height: 600px;
  background: url("../img/Banner\ Image.png"),
    linear-gradient(180deg, rgb(106, 92, 92), rgb(236, 236, 202));
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 10px;
}

.header-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.small-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.big-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  max-width: 632px;
}

/* 65% off section */
.off-section {
  width: 50%;
  max-width: 1300px;
  margin: 120px auto;
}
.off-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.off-percentage {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.holiday {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}
.all-category {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}
.off-img {
  margin-top: 100px;
}
.off-img img {
  width: 800px;
  height: 500px;
}

/* midnight party */

.midnight-container {
  width: 90%;
  max-width: 1300px;
  margin: 20px auto;
}
.midnight-section {
  height: 600px;
  background: url("../img/Vectorrr.png"),
    linear-gradient(90deg, rgb(27, 25, 25), rgb(238, 238, 191));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-blend-mode: multiply;
}
.midnight-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  height: 600px;
}

.midnight-text h1 {
  color: #fff;
  width: 600px;
  color: #fff;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  padding: 0 126px;
}
.midnight-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 126px;
  width: 600px;
}

.midnight-text button {
  color: #fff;
  margin: 10px 126px;
  padding: 10px 20px;
  background-color: #070211;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.midnight-img {
  margin-right: 70px;
}

/* place section */
.place-container {
  width: 90%;
  height: 500px;
  max-width: 1300px;
  margin: 20px auto;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(250, 0, 0, 0) 100%
  );
  border-radius: 10px;
}
.place-description {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: center;
}
.place-description p span {
  color: #f00;
}
.place-description p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.place-description button {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}
.place-description * {
  padding-bottom: 10px;
}
